{% extends "base.html" %}

{% block content %}
	<h2 class="post-title" style="background:black; color:white;"> About Me </h2>
	<hr>

	<div class="post-description" style="background:black; color:white;">
		Hi there! My name is Braedon Salz. Call me Brady.

		<br><br>	
		
		I am currently finishing my senior year at the <a href="http://www.illinois.edu">University of Illinois at Urbana-Champaign</a>. 

		<br>

		I plan on receiving my B.S. in Electrical Engineering in May 2015, then attending graduate school.
		
		<!-- make this look good later
		<br>
		<span class="slideshow">
			<span>Michigan</span>
			<span>Illinois</span>
			<span>UC Berkeley</span>
			<span>UT Austin</span>
			<span>UC San Diego</span>
		</span> -->

		<br> <br>	
	
		In the past, I've interned at <a href="http://www.ibm.com">IBM</a>, <a href="http://www.cirrus.com">Cirrus Logic</a>, and <a href="http://www.qualcomm.com">Qualcomm</a>. 
		
		<br>	
		
		I'll be returning to Austin, TX this summer to intern once more at Cirrus.

		<br> <br>	

		I love circuit design - from system to board to transistor level. Unfortunately, a lot of the references for circuits are less than ideal - there's no true digital home for an analog world. People will be more than happy to recommend random textbooks (<a href="http://en.wikipedia.org/wiki/The_Art_of_Electronics">TAoE</a> anyone?), but those aren't sufficient I feel. I intend to sporadically post circuits that I learn about here, breaking down and explaining them. I hope you'll find it as useful as a reference as I will!
	</div>


{% endblock %}