{% extends "base.html" %}

{% block content %}
	<h2 class="post-title"> 
		About Me 
		<img alt="OSHW" height="25" width="25" src="{{ url_for('static', filename = 'images/oshw-logo.png') }}">
	</h2> 
	<hr>

	<div class="post-description-body" style="text-indent:0px">
		Hi there! My name is Braedon Salz. Call me Brady. <br>
		<!-- I like to sign things as b$ (call it my <a href="http://en.wikipedia.org/wiki/Rich_Salz#Personal_life">inheritance</a>) -->

		<br><br>	
		
		I am currently finishing my senior year at the <a href="http://www.illinois.edu">University of Illinois at Urbana-Champaign</a>. 

		<br>

		I plan on receiving my B.S. in Electrical Engineering in May 2015, then attending graduate school. <br>
		I'm interested in developing the fields of Open Source Hardware and the Internet of Things.

		<br> <br>	
	
		In the past, I've interned at <a href="http://www.ibm.com">IBM</a>, <a href="http://www.cirrus.com">Cirrus Logic</a>, and <a href="http://www.qualcomm.com">Qualcomm</a>. <br>	
		I'll be returning to Austin, TX this summer to intern once more at Cirrus.<br>
		You can find my <a href="{{ url_for('resume') }}">resume here.</a>

		<br> <br>	

		I love circuit design - from system to board to transistor level. Unfortunately, most online circuit reference material poorly presented - there's no true digital home for an analog world. People will be more than happy to recommend random textbooks (<a href="http://en.wikipedia.org/wiki/The_Art_of_Electronics">TAoE</a> anyone?), but I feel those aren't sufficient. I intend to sporadically post circuits that I learn about here, breaking down and explaining them. I hope you'll find it as useful as a reference as I will!
	</div>


{% endblock %}