{% extends "base.html" %}

{% block content %}
<header class="post-header">
    <h2 class="post-title">Contact Me</h2>
    <hr>
</header>
<h3>
	Feel free to contact me in any of the below ways, sorted in order of most likely response:
    <ul class="fa-ul">
        <li>
        	<i class="fa-li fa fa-send fa-2x" style="color:rgb(18, 132, 63)"></i> 
        	<a href="mailto:brady.salz@gmail.com">Email</a>
        </li>

        <li>
        	<i class="fa-li fa fa-facebook-square fa-2x" style="color:rgb(18, 132, 63)"></i>
        	<a href="http://facebook.com/brady.salz">Facebook</a>
        </li>

        <li>
        	<i class="fa-li fa fa-twitter-square fa-2x" style="color:rgb(18, 132, 63)"></i>
        	<a href="http://twitter.com/brady_salz/">Twitter</a>
        </li>

        <li>
        	<i class="fa-li fa fa-linkedin-square fa-2x" style="color:rgb(18, 132, 63)"></i>
        	<a href="http://linkedin.com/in/bradysalz">LinkedIn</a>
        </li>

        <li>
            <i class="fa-li fa fa-github-square fa-2x" style="color:rgb(18, 132, 63)"></i>
            <a href="https://github.com/dynerthebard/">GitHub</a>
        </li>
    </ul>
</h3>
{% endblock %}