{% extends "base.html" %}

{% block content %}
<div class="posts">
    <!-- A single blog post -->
    <section class="post">
        <header class="post-header">
            <h2 class="post-title">{{title}}</h2>
            <hr>
            <p class="post-meta">
                By Brady Salz under <a class="post-category-{{category}}" href="#">{{category.upper()}}</a> at {{date}}
            </p>
        </header>

        <div class="post-description">
            {{body|safe}}       
        </div>
    </section>
</div>

{% endblock %}