{% extends "base.html" %}

{% block content %}
<header class="post-header">
    <h2 class="post-title">Topics</h2>
    <hr>
</header>

<h2>Written:</h2>
<ul>
	{% for date,title,url in zip(dates, titles,urls) %}
		<li class="list-item-bullet">
			<a class="list-item" href="/post/{{ url }}">
				{{ title }} [{{ date }}] 
			</a>
		</li>
	{% endfor %}
</ul>


<h4>Planned:</h4>
<ul>
	<li>RC Filter (parallel)</li>
	<li>RC to RL to LC</li>
	<li>Higher Order Filters</li>
	<li>Understanding log+dB</li>
	<li>Power: DC vs AC vs Available</li>
	<li>Op Amp Circuits</li>
	<li>Single Stage Amplifiers</li>
	<li>Current Mirror</li>
	<li>Diff Amp</li>
	<li>Feedback</li>
	<li>Flash ADC</li>
	<li>Comparator</li>
	<li>Pipeline ADC</li>
	<li>Oscillators</li>
	<li>Buck Converter</li>
	<li>Boost Converter</li>
	<li>Isolated Converters</li>
	<li>Matching Networks</li>
	<li>Multistage Amplifiers</li>
	<li>Switched Capacitor Circuits</li>
	<li>Gain Boosted Amplifiers</li>
</ul>
{% endblock %}